{% if product and product.selling_plan_groups.size > 0 %}
    <script id="ros_main">
        var $ros_product = {{ product | json }};
        $ros_product.ro_page_type = {{ request.page_type | json }};
        $ros_product.ros_selected_selling_plan = {{ product.selected_selling_plan | json }};
        $ros_product.ros_selling_plans_by_id = (function(){
            var $ros_selling_array = {};
            for(ros_group of $ros_product.selling_plan_groups){
                for(ros_plan of ros_group.selling_plans){
                    $ros_selling_array[ros_plan.id] = JSON.parse(JSON.stringify(ros_plan));
                    $ros_selling_array[ros_plan.id].selling_plan_group_id = ros_group.id;
                }
            }
            return $ros_selling_array;
        })();
        $ros_product.ros_variants_by_id = (function(){
            var $ros_selling_array = {};
            {% for ros_variant in product.variants %}
                {% assign ros_variant_id = ros_variant.id %}
                $ros_selling_array[{{ ros_variant_id }}] = {{ ros_variant | json }};
                $ros_selling_array[{{ ros_variant_id }}].ros_price_formatted = {{ ros_variant.price | money | json }};
                $ros_selling_array[{{ ros_variant_id }}].ros_price_fwtz = {{ ros_variant.price | money_without_trailing_zeros | json }};
                $ros_selling_array[{{ ros_variant_id }}].ros_compare_price_formatted = {{ ros_variant.compare_at_price | money | json }};
                $ros_selling_array[{{ ros_variant_id }}].ros_compare_price_fwtz = {{ ros_variant.compare_at_price | money_without_trailing_zeros | json }};
                $ros_selling_array[{{ ros_variant_id }}].ros_agids = {};
                $ros_selling_array[{{ ros_variant_id }}].ros_spabi = {};
                {% for sos_vspa in ros_variant.selling_plan_allocations %}
                    $ros_selling_array[{{ ros_variant_id }}].ros_agids[{{ sos_vspa.selling_plan_group_id | json }}] = true;
                    $ros_selling_array[{{ ros_variant_id }}].ros_spabi[{{ sos_vspa.selling_plan.id }}] = {};
                    $ros_selling_array[{{ ros_variant_id }}].ros_spabi[{{ sos_vspa.selling_plan.id }}].ros_price = {{ sos_vspa.price | json }};
                    $ros_selling_array[{{ ros_variant_id }}].ros_spabi[{{ sos_vspa.selling_plan.id }}].ros_price_formatted = {{ sos_vspa.price | money | json }};
                    $ros_selling_array[{{ ros_variant_id }}].ros_spabi[{{ sos_vspa.selling_plan.id }}].ros_price_fwtz = {{ sos_vspa.price | money_without_trailing_zeros | json }};
                    $ros_selling_array[{{ ros_variant_id }}].ros_spabi[{{ sos_vspa.selling_plan.id }}].ros_compare_price = {{ sos_vspa.compare_at_price | json }};
                    $ros_selling_array[{{ ros_variant_id }}].ros_spabi[{{ sos_vspa.selling_plan.id }}].ros_compare_price_formatted = {{ sos_vspa.compare_at_price | money | json }};
                    $ros_selling_array[{{ ros_variant_id }}].ros_spabi[{{ sos_vspa.selling_plan.id }}].ros_compare_price_fwtz = {{ sos_vspa.compare_at_price | money_without_trailing_zeros | json }};
                {% endfor %}
            {% endfor %}
            return $ros_selling_array;
        })();
        ROSformatMoney = function(rosCents, rosFormat) {
            if (typeof rosCents == 'string') { rosCents = rosCents.replace('.',''); }
            var ROSvalue = '';
            var rosplaceholderRegex = /\{\{\s*(\w+)\s*\}\}/;
            var formatString = (rosFormat || this.money_format);
            function ROSdefaultOption(opt, def) { return (typeof opt == 'undefined' ? def : opt); }
            function ROSformatWithDelimiters(rosnumber, rosrosprecision, rosthousands, rosdecimal) {
                rosrosprecision = ROSdefaultOption(rosrosprecision, 2);
                rosthousands = ROSdefaultOption(rosthousands, ',');
                rosdecimal   = ROSdefaultOption(rosdecimal, '.');
                if (isNaN(rosnumber) || rosnumber == null) { return 0; }
                rosnumber = (rosnumber/100.0).toFixed(rosrosprecision);
                var rosparts   = rosnumber.split('.'),rosdollars = rosparts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + rosthousands),rosCents   = rosparts[1] ? (rosdecimal + rosparts[1]) : '';
                return rosdollars + rosCents;
            }
            ROSvalue = ROSformatWithDelimiters(rosCents, 2);
            return formatString.replace(rosplaceholderRegex, ROSvalue);
        };
        var ROSThemes = ["Dawn"];
        var ROScurrencySymbol = '{{ shop.money_format }}';
    </script>
    {% render 'ROS-style' %}
    {% if shop.metafields.iwsubscriptionlayout.layout == 1 %}
        <div class="ROS-Continer-3">
            <p>{{ shop.metafields.iwsubscriptionlayout.purchase_options }}</p>
            <div class="ROS-sub-box-design-3">
                {% if product.metafields.iwbm_subscriptions.iw_subscription_only != true %}
                    <div class="ROS-design-3 ROS-sub-radio-3">
                        <input type="radio" class="ROS-radio-button-3" id="sellingplan_no" checked="checked" name="selling_radio" value="0">
                        <label for="sellingplan_no" class="ROS-radio-button-click-target-3"><span class="ROS-radio-button-circle-3"></span>{{ shop.metafields.iwsubscriptionlayout.one_time_purchase }}</label>
                    </div>
                {% endif %}
                {% for iwSelling in product.selling_plan_groups %}
                    {% if iwSelling.app_id == 'IW00819979621610' %}
                        <input type="hidden" class="ROSIW00819979621610">
                        <div class="ROS-design-3-flex" id="ROS_grp_{{ iwSelling.id }}">
                            <div class="ROS-design-3 ROS-sub-radio-3 Ros-width-auto-3">
                                <input type="radio" class="ROS-radio-button-3" id="sellingplan_yes_{{ iwSelling.id }}" name="selling_radio" value="{{ iwSelling.id }}">
                                <label for="sellingplan_yes_{{ iwSelling.id }}" class="ROS-radio-button-click-target-3 ROS-border-bot-none"><span class="ROS-radio-button-circle-3"></span>{{ iwSelling.name }}</label>
                                <div class="ROS-sub-main-two-3 iwbs-price-display-3"></div>
                            </div>
                            <div class="ROS_selling_box" id="selling_lids_{{ iwSelling.id }}" style="display:none;">
                                <div class="ROS-manage-sub-3">
                                    <label class="ROS-manage-text-3">{{ iwSelling.options[0].name }}</label>
                                    <label class="ROS-manage-text-3 ROS-manage-text-right-3 ros_price_{{ iwSelling.id }}"></label>
                                    <div class="ROS-select-3">
                                        <select id="ROSsell_id_{{ iwSelling.id }}" class="ROS-option-3">
                                            {% for iw_selling_plans in iwSelling.selling_plans %}
                                                <option value="{{ iw_selling_plans.id }}">{{ iw_selling_plans.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="hidden" name="selling_plan" id="iwsb_selling_plan" value="">
            </div>
            <p class="ROS-sub-note ROS-margin-top15-3"></p>
        </div>
        <script id="ros_sub">
            var radios = document.querySelectorAll('input[type=radio][name="selling_radio"]');
            var sellingplan_no = document.getElementById('sellingplan_no');
            function changeHandler(event) {
                Array.prototype.forEach.call(document.querySelectorAll('.ROS_selling_box'), function(roshc) { roshc.style.display = 'none'; });
                if(this.value == 0){
                    document.getElementById("iwsb_selling_plan").value = '';
                } else {
                    document.getElementById("iwsb_selling_plan").value = document.getElementById('ROSsell_id_'+this.value).value;
                    document.getElementById('selling_lids_'+this.value).style.display = "block";
                }
                setTimeout(function(){ setROSPrice(); },20)
            }
            Array.prototype.forEach.call(radios, function(radio) { radio.addEventListener('change', changeHandler); });
            if(sellingplan_no==null){
                document.getElementById(radios[0].getAttribute('id')).click();
            }
            function setROSPrice(){
                if(document.querySelectorAll(".ROSIW00819979621610").length==0){
                    document.querySelector('.ROS-Continer-3').style.display = 'none';
                    return false;
                }
                if(document.querySelector('input[name="id"]') != null){
                    var varientId = document.querySelector('input[name="id"]').value;
                } else {
                    var varientId = document.querySelector('select[name="id"]').value;
                }
                var ROSsellingPlans = $ros_product.ros_variants_by_id[varientId].ros_spabi;
                var ROSVariantSellingGrp = $ros_product.ros_variants_by_id[varientId].ros_agids;
                var ROS_plnId = document.querySelector('input[type=radio][name="selling_radio"]:checked').value;
                document.querySelector('.ROS-Continer-3').style.display = 'block';
                if(Object.keys(ROSsellingPlans).length>0){
                    var ROSbuttonHide = document.getElementsByClassName("ROS-design-3-flex");
                    for(var i = 0; i < ROSbuttonHide.length; i++){ ROSbuttonHide[i].style.display = "none"; }
                    var ROSvisbleActive = '';
                    var rosVisibleGrp = [];
                    for( ROSgrp in  ROSVariantSellingGrp){
                        document.getElementById('ROS_grp_'+ROSgrp).style.display="block";
                        rosVisibleGrp.push(ROSgrp);
                    }
                    for(var j = 0; j < rosVisibleGrp.length; j++){
                        if(document.getElementById('ROS_grp_'+rosVisibleGrp[j]).style.display=='block' && document.getElementById('sellingplan_yes_'+rosVisibleGrp[j]).checked == true){
                            ROSvisbleActive = rosVisibleGrp[j];
                        }
                    }
                    if(ROSvisbleActive==''){ document.getElementById('sellingplan_no').click(); }
                    if(document.querySelector('input[name="selling_radio"]:checked').value!=0){
                        var sellingPlanId = document.getElementById("ROSsell_id_"+ROS_plnId).value;
                        var iwbspriceDisplay = '<span class="ROS-real-3">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'</span> <span class="ROS-comper-3">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</span>';
                        document.querySelector('.ros_price_'+ROS_plnId).innerHTML = iwbspriceDisplay;
                        if(document.querySelector('.price') !=null && document.querySelector('.price').classList.contains('price--on-sale')==true){
                            document.querySelector('div.price__sale span.price-item.price-item--sale').innerHTML = ROSsellingPlans[sellingPlanId].ros_price_formatted;
                            document.querySelector('div.price__sale s.price-item.price-item--regular').innerHTML = ROSsellingPlans[sellingPlanId].ros_compare_price_formatted;
                        } else {
                            if(document.querySelector('div.product-single__prices span.product-single__price')!=null){
                                document.querySelector('div.product-single__prices span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('div.price-container span.product-single__price')!=null){
                                document.querySelector('div.price-container span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('.product-single__meta-list span.product-single__price')!=null){
                                document.querySelector('.product-single__meta-list span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('p.product__price span.product__price--reg.js-price')!=null){
                                document.querySelector('p.product__price span.product__price--reg.js-price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('p.product__price span.product__current-price')!=null){
                                document.querySelector('p.product__price span.product__current-price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('p.product-single__prices span.product-single__price')!=null){
                                document.querySelector('p.product-single__prices span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else {
                                document.querySelector('div.price__regular span.price-item.price-item--regular').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            }
                        }
                        document.querySelector('p.ROS-sub-note').innerHTML = $ros_product.ros_selling_plans_by_id[sellingPlanId].description;
                    } else {
                        document.querySelector('p.ROS-sub-note').innerHTML = '';
                        if ($ros_product.ros_variants_by_id[varientId].compare_at_price > $ros_product.ros_variants_by_id[varientId].price) {
                            document.querySelector('div.price__sale span.price-item.price-item--sale').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            document.querySelector('div.price__sale s.price-item.price-item--regular').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            if(document.querySelector('div.product-single__prices span.product-single__price')!=null){
                                document.querySelector('div.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('div.price-container span.product-single__price')!=null){
                                document.querySelector('div.price-container span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('.product-single__meta-list span.product-single__price')!=null){
                                document.querySelector('.product-single__meta-list span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__price--reg.js-price')!=null){
                                document.querySelector('p.product__price span.product__price--reg.js-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__current-price')!=null){
                                document.querySelector('p.product__price span.product__current-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product-single__prices span.product-single__price')!=null){
                                document.querySelector('p.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            }
                        } else {
                            if(document.querySelector('div.price__regular span.price-item.price-item--regular')!=null){
                                document.querySelector('div.price__regular span.price-item.price-item--regular').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('div.product-single__prices span.product-single__price')!=null){
                                document.querySelector('div.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('div.price-container span.product-single__price')!=null){
                                document.querySelector('div.price-container span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('.product-single__meta-list span.product-single__price')!=null){
                                document.querySelector('.product-single__meta-list span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__price--reg.js-price')!=null){
                                document.querySelector('p.product__price span.product__price--reg.js-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__current-price')!=null){
                                document.querySelector('p.product__price span.product__current-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product-single__prices span.product-single__price')!=null){
                                document.querySelector('p.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            }
                        }
                    }
                } else {
                    document.getElementById("iwsb_selling_plan").value = '';
                    document.querySelector('.ROS-Continer-3').style.display = 'none';
                }
            }
            if(document.querySelectorAll('input[name="Title"]').length > 0){
                var ROSoptions = document.querySelectorAll('input[name="Title"]');
            } else if(document.querySelectorAll('.single-option-selector__radio').length > 0){
                var ROSoptions = document.querySelectorAll('.single-option-selector__radio');
            } else {
                var ROSoptions = document.getElementsByClassName('single-option-selector');
            }
            Array.prototype.forEach.call(ROSoptions, function(opt) { opt.addEventListener('change', changeHandlerMain); });
            function changeHandlerMain(ev){ setTimeout(function(){ setROSPrice(); },20) }
            var ROS_plan = document.getElementsByClassName('ROS-option-3');
            Array.prototype.forEach.call(ROS_plan, function(optpln) { optpln.addEventListener('change', planChangeHandler); });
            function planChangeHandler(ev){
                var ROS_plnId = document.querySelector('input[type=radio][name="selling_radio"]:checked').value;
                document.getElementById("iwsb_selling_plan").value = document.getElementById("ROSsell_id_"+ROS_plnId).value;
                setROSPrice();
            }
            setROSPrice();
        </script>
    {% elsif shop.metafields.iwsubscriptionlayout.layout == 2 %}
        <div class="ROS-Continer-2"  style="display:none;">
            <p>{{ shop.metafields.iwsubscriptionlayout.purchase_options }}</p>
            <div class="ROS-sub-box-2">
                <div class="ROS-radio-toolbar-2">
                    {% if product.metafields.iwbm_subscriptions.iw_subscription_only != true %}
                    <div class="ROS-design-2 ROS-mc-radio-2">
                        <input class="ROS-radio-button-2" type="radio" id="sellingplan_no" checked="checked" name="selling_radio" value="0">
                        <label for="sellingplan_no" class="ROS-radio-button-click-target-2">
                            <span class="ROS-radio-button-circle-2"></span>{{ shop.metafields.iwsubscriptionlayout.one_time_purchase }}
                        </label>
                    </div>
                    {% endif %}
                    {% for iwSelling in product.selling_plan_groups %}
                        <div class="ROS-design-2 ROS-mc-radio-2 ROS-js-plan-grp-2" id="ROS_grp_{{ iwSelling.id }}">
                            <input class="ROS-radio-button-2" type="radio" id="sellingplan_yes_{{ iwSelling.id }}" name="selling_radio" value="{{ iwSelling.id }}">
                            <label for="sellingplan_yes_{{ iwSelling.id }}" class="ROS-radio-button-click-target-2">
                                <span class="ROS-radio-button-circle-2"></span>{{ iwSelling.name }}
                            </label>
                        </div>
                        <div id="selling_lids_{{ iwSelling.id }}" class="{% if forloop.last %}ROS-mt-15-2{% else %}ROS-mb-15-2{% endif %} ROS-indiWrapper" style="display:none;">
                            {% if iwSelling.app_id == 'IW00819979621610' %}
                                <label class="ROS-Label-2">{{ iwSelling.options[0].name }}</label>
                                {% for iw_selling_plans in iwSelling.selling_plans %}
                                    <div class="ROS-sub-radio-main-2">
                                        <div class="ROS-design-2 ROS-sub-radio-2">
                                            <input type="radio" id="iw_subscription_radio_{{ iw_selling_plans.id }}_{{ product.id }}" name="selected_plan_{{ iwSelling.id }}" class="ROS-radio-button-2 ROS-js-radio" {% if forloop.first %}checked{% endif %} value="{{ iw_selling_plans.id }}">
                                            <label for="iw_subscription_radio_{{ iw_selling_plans.id }}_{{ product.id }}" class="ROS-radio-button-click-target-2 ROS-radio-inner-border-none-2"><span class="ROS-radio-button-circle-2 ROS-sub-radio-plan-name-2"></span>{{ iw_selling_plans.name }}</label>
                                        </div>
                                        {% if iw_selling_plans.price_adjustments[0].value != blank %}
                                            {% if iw_selling_plans.price_adjustments[0].value_type == 'percentage' %}
                                                {% assign iw_remaining_percentage = 100 | minus: iw_selling_plans.price_adjustments[0].value %}
                                                {% assign iw_discounted_price = product.selected_or_first_available_variant.price | times: iw_remaining_percentage | divided_by: 100 %}
                                                <div class="ROS-sub-main-two iw-selling-plan-{{iw_selling_plans.id}}"> <span>{{ iw_discounted_price | money }}</span> <s class="price-item price-item--sale price-item--regular" >{{ product.selected_or_first_available_variant.price | money }}</s></div>
                                            {% else %}
                                                {% assign iw_discounted_price = product.selected_or_first_available_variant.price | minus: iw_selling_plans.price_adjustments[0].value %}
                                                {% if iw_discounted_price > 0 %}
                                                    <div class="ROS-sub-main-two iw-selling-plan-{{iw_selling_plans.id}}"> <span>{{ iw_discounted_price | money }}</span> <s class="price-item price-item--sale price-item--regular" >{{ product.selected_or_first_available_variant.price | money }}</s></div>
                                                {% else %}
                                                    <div class="ROS-sub-main-two iw-selling-plan-{{iw_selling_plans.id}}"> <span>{{ 0 | money }}</span> <s class="price-item price-item--sale price-item--regular" >{{ product.selected_or_first_available_variant.price | money }}</s></div>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <div class="ROS-sub-main-two iw-selling-plan-{{iw_selling_plans.id}}"> <span>{{ product.selected_or_first_available_variant.price | money }}</span> </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <input type="hidden" name="selling_plan" id="iwsb_selling_plan" value="">
            </div>
            <p class="ROS-sub-note-2"></p>
        </div>
        <script id="ros_sub">
            var radios = document.querySelectorAll('input[type=radio][name="selling_radio"]');
            var sellingplan_no = document.getElementById('sellingplan_no');
            function changeHandler(event) {
                Array.prototype.forEach.call(document.querySelectorAll('.ROS-indiWrapper'), function(roshc) { roshc.style.display = 'none'; });
                if(this.value == 0){
                    document.getElementById("iwsb_selling_plan").value = '';
                } else {
                    document.getElementById("iwsb_selling_plan").value = document.querySelector('input[name="selected_plan_'+this.value+'"]:checked').value;
                    document.getElementById('selling_lids_'+this.value).style.display = "block";
                }
                setTimeout(function(){ setROSPrice(); },20)
            }
            Array.prototype.forEach.call(radios, function(radio) { radio.addEventListener('change', changeHandler); });
            if(document.querySelectorAll('input[name="Title"]').length > 0){
                var ROSoptions = document.querySelectorAll('input[name="Title"]');
            } else if(document.querySelectorAll('.single-option-selector__radio').length > 0){
                var ROSoptions = document.querySelectorAll('.single-option-selector__radio');
            } else {
                var ROSoptions = document.getElementsByClassName('single-option-selector');
            }

            Array.prototype.forEach.call(ROSoptions, function(opt) { opt.addEventListener('change', changeHandlerMain); });
            function changeHandlerMain(ev){
                setTimeout(function(){
                    if(document.querySelector('input[name="id"]') != null){
                        var varientId = document.querySelector('input[name="id"]').value;
                    } else {
                        var varientId = document.querySelector('select[name="id"]').value;
                    }
                    var ROSsellingPlans = $ros_product.ros_variants_by_id[varientId].ros_spabi;
                    document.querySelector('.ROS-Continer-2').style.display = 'block';
                    if(Object.keys(ROSsellingPlans).length>0){
                        for(ros_plan in ROSsellingPlans){
                            document.querySelector('.iw-selling-plan-'+ros_plan+' span').innerHTML = ROSsellingPlans[ros_plan].ros_price_formatted;
                            document.querySelector('.iw-selling-plan-'+ros_plan+' s').innerHTML = ROSsellingPlans[ros_plan].ros_compare_price_formatted;
                        }
                        setROSPrice();
                    } else {
                        document.getElementById("iwsb_selling_plan").value = '';
                        document.querySelector('.ROS-Continer-2').style.display = 'none';
                    }
                },20)
            }
            Array.prototype.forEach.call(document.getElementsByClassName('ROS-js-radio'), function(optrad) { optrad.addEventListener('change', changeHandlerRadio); });
            function changeHandlerRadio(ev){
                document.getElementById("iwsb_selling_plan").value = this.value;
                setROSPrice();
            }
            if(sellingplan_no==null){
                document.getElementById(radios[0].getAttribute('id')).click();
            }
            function setROSPrice(){
                if(document.querySelector('input[name="id"]') != null){
                    var varientId = document.querySelector('input[name="id"]').value;
                } else {
                    var varientId = document.querySelector('select[name="id"]').value;
                }
                var ROSsellingPlans = $ros_product.ros_variants_by_id[varientId].ros_spabi;
                var ROSVariantSellingGrp = $ros_product.ros_variants_by_id[varientId].ros_agids;
                document.querySelector('.ROS-Continer-2').style.display = 'block';
                if(Object.keys(ROSsellingPlans).length>0){
                    var ROSbuttonHide = document.getElementsByClassName("ROS-js-plan-grp-2");
                    for(var i = 0; i < ROSbuttonHide.length; i++){
                        ROSbuttonHide[i].style.display = "none";
                    }
                    var ROSvisbleActive = '';
                    var rosVisibleGrp = [];
                    for( ROSgrp in  ROSVariantSellingGrp){
                        document.getElementById('ROS_grp_'+ROSgrp).style.display="block";
                        rosVisibleGrp.push(ROSgrp);
                    }
                    for(var j = 0; j < rosVisibleGrp.length; j++){
                        if(document.getElementById('ROS_grp_'+rosVisibleGrp[j]).style.display=='block' && document.getElementById('sellingplan_yes_'+rosVisibleGrp[j]).checked == true){
                            ROSvisbleActive = rosVisibleGrp[j];
                        }
                    }
                    if(ROSvisbleActive==''){
                        if(document.getElementById('sellingplan_no')!=null){
                            document.getElementById('sellingplan_no').click();
                        }
                    }
                    if(document.querySelector('input[name="selling_radio"]:checked').value!=0){
                        var ROS_plnId = document.querySelector('input[type=radio][name="selling_radio"]:checked').value;
                        var sellingPlanId = document.querySelector('input[name="selected_plan_'+ROS_plnId+'"]:checked').value;
                        if(document.querySelector('.price') != null && document.querySelector('.price').classList.contains('price--on-sale')==true){
                            document.querySelector('div.price__sale span.price-item.price-item--sale').innerHTML = ROSsellingPlans[sellingPlanId].ros_price_formatted;
                            document.querySelector('div.price__sale s.price-item.price-item--regular').innerHTML = ROSsellingPlans[sellingPlanId].ros_compare_price_formatted;
                        } else {
                            if(document.querySelector('div.price-container span.product-single__price')!=null){
                                document.querySelector('div.price-container span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('p.product__price span.product__price--reg.js-price')!=null){
                                document.querySelector('p.product__price span.product__price--reg.js-price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('p.product__price span.product__current-price')!=null){
                                document.querySelector('p.product__price span.product__current-price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('.product-single__meta-list span.product-single__price')!=null){
                                document.querySelector('.product-single__meta-list span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('p.product-single__prices span.product-single__price')!=null){
                                document.querySelector('p.product-single__prices span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('div.product-single__prices span.product-single__price')!=null){
                                document.querySelector('div.product-single__prices span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else {
                                document.querySelector('div.price__regular span.price-item.price-item--regular').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            }
                        }
                        document.querySelector('p.ROS-sub-note-2').innerHTML = $ros_product.ros_selling_plans_by_id[sellingPlanId].description;
                    } else {
                        if ($ros_product.ros_variants_by_id[varientId].compare_at_price > $ros_product.ros_variants_by_id[varientId].price) {
                            document.querySelector('div.price__sale span.price-item.price-item--sale').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            document.querySelector('div.price__sale s.price-item.price-item--regular').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            if(document.querySelector('div.price-container span.product-single__price')!=null){
                                document.querySelector('div.price-container span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__price--reg.js-price')!=null){
                                document.querySelector('p.product__price span.product__price--reg.js-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__current-price')!=null){
                                document.querySelector('p.product__price span.product__current-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('.product-single__meta-list span.product-single__price')!=null){
                                document.querySelector('.product-single__meta-list span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product-single__prices span.product-single__price')!=null){
                                document.querySelector('p.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('div.product-single__prices span.product-single__price')!=null){
                                document.querySelector('div.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            }
                        } else {
                            if(document.querySelector('div.price__regular span.price-item.price-item--regular')!=null){
                                document.querySelector('div.price__regular span.price-item.price-item--regular').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('div.product-single__prices span.product-single__price')!=null){
                                document.querySelector('div.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('div.price-container span.product-single__price')!=null){
                                document.querySelector('div.price-container span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__price--reg.js-price')!=null){
                                document.querySelector('p.product__price span.product__price--reg.js-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__current-price')!=null){
                                document.querySelector('p.product__price span.product__current-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('.product-single__meta-list span.product-single__price')!=null){
                                document.querySelector('.product-single__meta-list span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product-single__prices span.product-single__price')!=null){
                                document.querySelector('p.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            }
                        }
                        document.querySelector('p.ROS-sub-note-2').innerHTML = '';
                    }
                } else {
                    document.getElementById("iwsb_selling_plan").value = '';
                    document.querySelector('.ROS-Continer-2').style.display = 'none';
                }
            }
            setROSPrice();
        </script>
    {% else %}
        <div class="ROS-Continer" style="display:none;">
            <p>{{ shop.metafields.iwsubscriptionlayout.purchase_options }}</p>
            <div class="ROS-sub-box-1">
                <div class="ROS-sub-box-button-1">
                    {% if product.metafields.iwbm_subscriptions.iw_subscription_only != true %}
                        <span class="ROS-sub-button-css-1 ROS-active-1" id="iw_onetime_btn">{{ shop.metafields.iwsubscriptionlayout.one_time_purchase }}</span>
                    {% endif %}
                    {% for iwSelling in product.selling_plan_groups %}
                        <span data-id="{{iwSelling.id}}" id="ROS_subscription_button_{{iwSelling.id}}" class="ROS-sub-button-css-1 ROS-subscription-btn">{{ iwSelling.name }}</span>
                    {% endfor %}
                    <input type="hidden" name="selling_plan" id="iwsb_selling_plan" value="">
                </div>
                {% for iw_selling_plan_groups in product.selling_plan_groups %}
                    {% if iw_selling_plan_groups.app_id == 'IW00819979621610' %}
                        <input type="hidden" class="ROSIW00819979621610">
                        <div id="ROS_subscription_{{ iw_selling_plan_groups.id }}" class="ROS-subscription-wrapper-1 ROSHide">
                            <label class="ROS-manage-text-1">{{ iw_selling_plan_groups.options[0].name }}</label>
                            <div class="ROS-sub-main-css-1">
                                {% for iw_selling_plans in iw_selling_plan_groups.selling_plans %}
                                    <div class="ROS-sub-radio-main-1">
                                        <div class="ROS-sub-main-one-1">
                                            <label class="ROS-sub-label--radio-1">
                                                <input id="iw_subscription_radio_{{ iw_selling_plans.id }}_{{ product.id }}" name="selected_plan_{{ iw_selling_plan_groups.id }}" type="radio" class="ROS-sub-radio-1" {% if forloop.first %}checked{% endif %} value="{{ iw_selling_plans.id }}">
                                                <span class="ROS-checkmark"></span>
                                                <span>{{ iw_selling_plans.name }}</span>
                                            </label>
                                        </div>
                                        {% if iw_selling_plans.price_adjustments[0].value != blank %}
                                            {% if iw_selling_plans.price_adjustments[0].value_type == 'percentage' %}
                                                {% assign iw_remaining_percentage = 100 | minus: iw_selling_plans.price_adjustments[0].value %}
                                                {% assign iw_discounted_price = product.selected_or_first_available_variant.price | times: iw_remaining_percentage | divided_by: 100 %}
                                                <div class="ROS-sub-main-two iw-selling-plan-{{iw_selling_plans.id}}"> <span>{{ iw_discounted_price | money }}</span> <s class="price-item price-item--sale price-item--regular" >{{ product.selected_or_first_available_variant.price | money }}</s></div>
                                            {% else %}
                                                {% assign iw_discounted_price = product.selected_or_first_available_variant.price | minus: iw_selling_plans.price_adjustments[0].value %}
                                                {% if iw_discounted_price > 0 %}
                                                    <div class="ROS-sub-main-two iw-selling-plan-{{iw_selling_plans.id}}"> <span>{{ iw_discounted_price | money }}</span> <s class="price-item price-item--sale price-item--regular" >{{ product.selected_or_first_available_variant.price | money }}</s></div>
                                                {% else %}
                                                    <div class="ROS-sub-main-two iw-selling-plan-{{iw_selling_plans.id}}"> <span>{{ 0 | money }}</span> <s class="price-item price-item--sale price-item--regular" >{{ product.selected_or_first_available_variant.price | money }}</s></div>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <div class="ROS-sub-main-two iw-selling-plan-{{iw_selling_plans.id}}"> <span>{{ product.selected_or_first_available_variant.price | money }}</span> </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <p class="ROS-sub-note-1"></p>
        </div>
        <script id="ros_sub">
            var iw_onetime_btn = document.getElementById("iw_onetime_btn");
            var ROS_subscription_btn = document.getElementsByClassName('ROS-subscription-btn');
            for (var i = 0; i < ROS_subscription_btn.length; i++) { ROS_subscription_btn[i].addEventListener('click', ROSchangeHandler, false); }
            function ROSchangeHandler(ev){
                var $iwthis = this;
                var ROS_data_id=$iwthis.getAttribute('data-id');
                if(iw_onetime_btn!=null){
                    iw_onetime_btn.classList.remove('ROS-active-1');
                }
                for (var i = 0; i < ROS_subscription_btn.length; i++) { ROS_subscription_btn[i].classList.remove('ROS-active-1')}
                var roSubWrap = document.querySelectorAll('.ROS-subscription-wrapper-1');
                for (var i = 0; i < roSubWrap.length; i++) { roSubWrap[i].classList.add('ROSHide') }
                var rosButtons = document.querySelectorAll('.ROS-sub-button-css-1');
                for (var i = 0; i < rosButtons.length; i++) { rosButtons[i].classList.remove('ROS-active-1') }
                $iwthis.classList.add('ROS-active-1');
                document.getElementById('ROS_subscription_'+ROS_data_id).classList.remove("ROSHide");
                document.getElementById("iwsb_selling_plan").value = document.querySelector('input[name="selected_plan_'+ROS_data_id+'"]:checked').value;
                setROSPrice();
            }
            if(iw_onetime_btn!=null){
                iw_onetime_btn.addEventListener("click", function() {
                    var $iwthis = this;
                    var roSubWrap = document.querySelectorAll('.ROS-subscription-wrapper-1');
                    for (var i = 0; i < roSubWrap.length; i++) { roSubWrap[i].classList.add('ROSHide') }
                    var rosButtons = document.querySelectorAll('.ROS-sub-button-css-1');
                    for (var i = 0; i < rosButtons.length; i++) { rosButtons[i].classList.remove('ROS-active-1') }
                    $iwthis.classList.add('ROS-active-1');
                    document.getElementById("iwsb_selling_plan").value = '';
                    setROSPrice();
                });
            }
            if(iw_onetime_btn==null){
                document.getElementById(ROS_subscription_btn[0].getAttribute('id')).click();
            }
            Array.prototype.forEach.call(document.getElementsByClassName('ROS-sub-radio-1'), function(optrad) { optrad.addEventListener('change', changeHandlerRadio); });
            function changeHandlerRadio(ev){
                var iwbs_selling_plan_id = this.value;
                document.getElementById("iwsb_selling_plan").value = iwbs_selling_plan_id;
                setROSPrice();
            }
            if(document.querySelectorAll('input[name="Title"]').length > 0){
                var ROSoptions = document.querySelectorAll('input[name="Title"]');
            } else if(document.querySelectorAll('.single-option-selector__radio').length > 0){
                var ROSoptions = document.querySelectorAll('.single-option-selector__radio');
            } else {
                var ROSoptions = document.getElementsByClassName('single-option-selector');
            }
            Array.prototype.forEach.call(ROSoptions, function(opt) { opt.addEventListener('change', changeHandlerMain); });
            function changeHandlerMain(ev){
                setTimeout(function(){
                    if(document.querySelector('input[name="id"]') != null){
                        var varientId = document.querySelector('input[name="id"]').value;
                    } else {
                        var varientId = document.querySelector('select[name="id"]').value;
                    }
                    var ROSsellingPlans = $ros_product.ros_variants_by_id[varientId].ros_spabi;
                    document.querySelector('.ROS-Continer').style.display = 'block';
                    if(Object.keys(ROSsellingPlans).length>0){
                        for(ros_plan in ROSsellingPlans){
                            document.querySelector('.iw-selling-plan-'+ros_plan+' span').innerHTML = ROSsellingPlans[ros_plan].ros_price_formatted;
                            document.querySelector('.iw-selling-plan-'+ros_plan+' s').innerHTML = ROSsellingPlans[ros_plan].ros_compare_price_formatted;
                        }
                        setROSPrice();
                    } else {
                        document.getElementById("iwsb_selling_plan").value = '';
                        document.querySelector('.ROS-Continer').style.display = 'none';
                    }
                },20)
            }
            function setROSPrice(){
                if(document.querySelectorAll(".ROSIW00819979621610").length==0){
                    document.querySelector('.ROS-Continer-3').style.display = 'none';
                    return false;
                }
                if(ROSThemes.includes(Shopify.theme.name)==true){
                    var varientId = document.querySelector('input[name="id"]').value;
                } else {
                    var varientId = document.querySelector('select[name="id"]').value;
                }
                var ROSsellingPlans = $ros_product.ros_variants_by_id[varientId].ros_spabi;
                var ROSVariantSellingGrp = $ros_product.ros_variants_by_id[varientId].ros_agids;
                document.querySelector('.ROS-Continer').style.display = 'block';
                if(Object.keys(ROSsellingPlans).length>0){
                    var ROSbuttonHide = document.getElementsByClassName("ROS-subscription-btn");
                    for(var i = 0; i < ROSbuttonHide.length; i++){ ROSbuttonHide[i].style.display = "none"; }
                    var ROSvisbleActive = '';
                    for( ROSgrp in  ROSVariantSellingGrp){
                        document.getElementById('ROS_subscription_button_'+ROSgrp).style.display="block";
                        if(document.getElementById('ROS_subscription_button_'+ROSgrp).classList.contains("ROS-active-1")==true){ ROSvisbleActive = ROSgrp; }
                    }
                    if(ROSvisbleActive==''){
                        if(iw_onetime_btn!=null){
                            iw_onetime_btn.classList.add('ROS-active-1');
                            iw_onetime_btn.click();
                        }
                    } else {
                        if(iw_onetime_btn!=null){
                            iw_onetime_btn.classList.remove('ROS-active-1')
                        }
                    }
                    if(iw_onetime_btn!=null && iw_onetime_btn.classList.contains("ROS-active-1")==false){
                        var ROSPlanID = document.querySelector('span.ROS-sub-button-css-1.ROS-subscription-btn.ROS-active-1').getAttribute('data-id');
                        var sellingPlanId = document.querySelector('input[name="selected_plan_'+ROSPlanID+'"]:checked').value;
                        if(document.querySelector('.price') != null && document.querySelector('.price').classList.contains('price--on-sale')==true){
                            document.querySelector('div.price__sale span.price-item.price-item--sale').innerHTML = ROSsellingPlans[sellingPlanId].ros_price_formatted;
                            document.querySelector('div.price__sale s.price-item.price-item--regular').innerHTML = ROSsellingPlans[sellingPlanId].ros_compare_price_formatted;
                        } else {
                            if(document.querySelector('div.product-single__prices span.product-single__price')!=null){
                                document.querySelector('div.product-single__prices span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('div.price-container span.product-single__price')!=null){
                                document.querySelector('div.price-container span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('p.product__price span.product__price--reg.js-price')!=null){
                                document.querySelector('p.product__price span.product__price--reg.js-price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('p.product__price span.product__current-price')!=null){
                                document.querySelector('p.product__price span.product__current-price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('.product-single__meta-list span.product-single__price')!=null){
                                document.querySelector('.product-single__meta-list span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else if(document.querySelector('p.product-single__prices span.product-single__price')!=null){
                                document.querySelector('p.product-single__prices span.product-single__price').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            } else {
                                document.querySelector('div.price__regular span.price-item.price-item--regular').innerHTML = '<span class="price-item price-item--regular" data-regular-price="">'+ROSsellingPlans[sellingPlanId].ros_price_formatted+'  <s class="price-item price-item--sale">'+ROSsellingPlans[sellingPlanId].ros_compare_price_formatted+'</s></span>';
                            }
                        }
                        document.querySelector('p.ROS-sub-note-1').innerHTML = $ros_product.ros_selling_plans_by_id[sellingPlanId].description;
                    } else {
                        if ($ros_product.ros_variants_by_id[varientId].compare_at_price > $ros_product.ros_variants_by_id[varientId].price) {
                            document.querySelector('div.price__sale span.price-item.price-item--sale').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            document.querySelector('div.price__sale s.price-item.price-item--regular').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            if(document.querySelector('div.product-single__prices span.product-single__price')!=null){
                                document.querySelector('div.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('div.price-container span.product-single__price')!=null){
                                document.querySelector('div.price-container span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__price--reg.js-price')!=null){
                                document.querySelector('p.product__price span.product__price--reg.js-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__current-price')!=null){
                                document.querySelector('p.product__price span.product__current-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('.product-single__meta-list span.product-single__price')!=null){
                                document.querySelector('.product-single__meta-list span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product-single__prices span.product-single__price')!=null){
                                document.querySelector('p.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].compare_at_price,ROScurrencySymbol);
                            }
                        } else {
                            if(document.querySelector('div.price__regular span.price-item.price-item--regular')!=null){
                                document.querySelector('div.price__regular span.price-item.price-item--regular').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('div.product-single__prices span.product-single__price')!=null){
                                document.querySelector('div.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('div.price-container span.product-single__price')!=null){
                                document.querySelector('div.price-container span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__price--reg.js-price')!=null){
                                document.querySelector('p.product__price span.product__price--reg.js-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product__price span.product__current-price')!=null){
                                document.querySelector('p.product__price span.product__current-price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('.product-single__meta-list span.product-single__price')!=null){
                                document.querySelector('.product-single__meta-list span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            } else if(document.querySelector('p.product-single__prices span.product-single__price')!=null){
                                document.querySelector('p.product-single__prices span.product-single__price').innerHTML = ROSformatMoney($ros_product.ros_variants_by_id[varientId].price,ROScurrencySymbol);
                            }
                        }
                        document.querySelector('p.ROS-sub-note-1').innerHTML = '';
                    }
                } else {
                    document.getElementById("iwsb_selling_plan").value = '';
                    document.querySelector('.ROS-Continer').style.display = 'none';
                }
            }
            setROSPrice();
        </script>
    {% endif %}
{% endif %}